html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("/web/drums/music.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.box-container {
  height: 30rem;
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.box1 {
  height: 10rem;
  width: 12rem;
  background-image: url("/web/drums/scam.png");
  background-size: 12rem 10rem;
  background-repeat: no-repeat;
  border-radius: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.box1p {
  height: 11rem;
  width: 13rem;
  background-size: 13rem 11rem;
  -webkit-box-shadow: 8px 8px 8px black;
          box-shadow: 8px 8px 8px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box2 {
  height: 10rem;
  width: 12rem;
  background-image: url("/web/drums/scam.png");
  background-size: 12rem 10rem;
  background-repeat: no-repeat;
  border-radius: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.box2p {
  height: 11rem;
  width: 13rem;
  -webkit-box-shadow: 8px 8px 8px black;
          box-shadow: 8px 8px 8px black;
  background-size: 13rem 11rem;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box3 {
  height: 10rem;
  width: 12rem;
  background-image: url("/web/drums/scam.png");
  background-size: 12rem 10rem;
  border-radius: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.box3p {
  height: 11rem;
  width: 13rem;
  -webkit-box-shadow: 8px 8px 8px black;
          box-shadow: 8px 8px 8px black;
  background-size: 13rem 11rem;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box4 {
  height: 10rem;
  width: 12rem;
  background-image: url("/web/drums/scam.png");
  background-size: 12rem 10rem;
  border-radius: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.box4p {
  height: 11rem;
  width: 13rem;
  -webkit-box-shadow: 8px 8px 8px black;
          box-shadow: 8px 8px 8px black;
  background-repeat: no-repeat;
  background-size: 13rem 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box5 {
  height: 10rem;
  width: 12rem;
  background-image: url("/web/drums/scam.png");
  background-size: 12rem 10rem;
  border-radius: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.box5p {
  height: 11rem;
  width: 13rem;
  -webkit-box-shadow: 8px 8px 8px black;
          box-shadow: 8px 8px 8px black;
  background-repeat: no-repeat;
  background-size: 13rem 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box6 {
  height: 10rem;
  width: 12rem;
  background-image: url("/web/drums/scam.png");
  background-size: 12rem 10rem;
  border-radius: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.box6p {
  height: 11rem;
  width: 13rem;
  -webkit-box-shadow: 8px 8px 8px black;
          box-shadow: 8px 8px 8px black;
  background-repeat: no-repeat;
  background-size: 13rem 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  height: 10rem;
  width: 100%;
  color: white;
}
/*# sourceMappingURL=music.css.map */